@{
    ViewBag.Title = "Home Page";
}

<h1>What Do You Have To Do?</h1>
<br />

<h3>@Html.ActionLink("Sign Up", "Index", "Users")</h3>
<h3>@Html.ActionLink("Search", "Finder", "Tasks")</h3>
<br />
<div style="padding: 4px 7px 2px 4px;">
<img  src="~/Content/lightning-2747390_960_720.jpg"/>
  </div>
